---
import Hero from "../components/Hero.astro";
import TechList from '../components/TechList.astro';
import BaseLayout from "../layouts/BaseLayout.astro";
import { base } from '../utils/base';
import { getCollection } from 'astro:content';

const projects = (await getCollection('projects'))
  .sort((a, b) => a.data.order - b.data.order);

// This is an Astro-project, chosen here due to the static nature of the website. – Jon
// Astro-documentation: https://docs.astro.build
---

<BaseLayout title="Hjem">
  <article class="intro-article">
    <section>
      <Hero />
      <div class="content-column">
        <h2>Introduksjon</h2>
        <p>
          Hei, jeg er Jon Petter, en full-stack webutvikler med sans for behagelig presentasjon av tekst og data.
          Velkommen til min hjemmeside. Her vil du finne informasjon om meg og et utvalg av mine prosjekter.
        </p>
      </div>
    </section>
  </article>

  <article class="projects-article">
    <div class="content-column--full">
      <h2>Prosjekter</h2>
    </div>
    {projects.map(project => (
      <section class="project-card">
        <h3>{project.data.title}</h3>
        <p>{project.data.summary}</p>
        <TechList tech={project.data.tech} />
        <a href={`${base}/projects/${project.id}`} class="card-link">Les mer →</a>
      </section>
    ))}
  </article>
</BaseLayout>
